body{
    margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
     
}



.content{
    border: 1px rgb(234, 232, 232) solid;
    background: white;
}

.skill img{
    width:100px;
}

.edu{
    border: 1px rgb(234, 232, 232) solid;
}
.bdr{
    border: 1px rgb(234, 232, 232) solid;
    /* box-shadow: 0px 2px 2px ; */
}

.profile{
    
     overflow: hidden;
     border-radius: 100%;

  
}

.first{
    background-color: #024178;
    
}

.second{
    background-color:rgb(245, 245, 245);
}

.card-body{
    background-color: rgb(245, 245, 245);
   
}

/* hover */
.card .btn{
    opacity: 0;
    bottom:65%;
    position: absolute;
    transform:all 5s ease 0s;
    transition: .7s;
background:rgb(195, 7, 7);
color:white;
}
.card:hover .btn,
.card.active{
 opacity: 1;
 color:white;
}

.card:hover img{
    opacity: .3;
    transition: .5s;

}

.card-body{
    background:rgb(195, 7, 7);
opacity: 1;
color:white;
}

.card-title{
    font: normal normal  Poppins;
    font-size:13px !important;

opacity: 1;
}

.card{
    
    box-shadow: 0px 2px 10px;
}


.skills:hover{
    transform: scale(1.02);
    transition: .5s;
    
}

.bdr a{
    text-decoration:none;
    color:white;
}

.bdr a:hover{
    color:white;
}

.second h4{
    color:#055193;
}

.green{
    color: green;
}
.red{
    color:rgb(195, 7, 7);
}